@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Croissant+One&family=Dancing+Script&family=Kanit:ital,wght@0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,900&family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;1,400;1,500;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Croissant+One&family=Dancing+Script&family=Kanit:ital,wght@0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,900&family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;1,400;1,500;1,900&display=swap');

:root {
  --primary-color: #000000;
  --bg-primary-color: #fcd054;
  --text-primary-color: #ffffff;
  --text-secondary-color: #abb8c3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mohave', poppins;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  padding: 5px 10px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(255, 168, 27);
  color: #ffffff;
}

main {
  max-width: 1280px;
  margin: auto;
  min-height: 90vh;
  padding: 10px;
}

.active--link {
  color: #e5b136;
}
.bg--color {
  background-color: var(--bg-primary-color);
}
// ------------------------
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/hero1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  position: relative;
}

.about {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./assets/teamwork.avif);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}

.child {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: flex;
  // text-align: center;
  align-items: center;
}

.bg--primary {
  background-color: var(--text-secondary-color);
}

.for--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate--slide {
  animation: 25s slide infinite linear;
  display: inline-block;
}

.animate--slide:hover {
  animation-play-state: paused;
}
